<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}کتابخانه من{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <!-- هدر -->
    <header>
        <h1>کتابخانه من</h1>
        {% if request.user.is_authenticated %}
            <div style="display:flex; align-items:center; gap:10px;">
                <span>{{ request.user.username }}</span>
                <a href="{% url 'logout' %}" class="logout-btn">خروج</a>
            </div>
        {% endif %}
    </header>

    <!-- محتوای صفحه -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
